<!DOCTYPE html>
<html lang="en">

<head>
    <title>Survey Result</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Submitted Information</h1>
    <p>Name:
        <%= result.name %>
    </p>
    <p>Dojo Location:
        <%= result.location %>
    </p>
    <p>Favorite Language:
        <%= result.favlang %>
    </p>
    <p>Comment:
        <%= result.comment %>
    </p>
    <a href="/">Go Back</a>
</body>

</html>